.barcode {
  font-family: 'Libre Barcode 39 Text';
  position: absolute;
  top: 0;
  right: 0;
  font-size: 8rem;
  transform-origin: bottom left;
  transform: translate(100%, 4rem) rotate(90deg);
}
.barcode p {
  margin: 0;
  padding: 0;
}

#PrintBase {
  position: relative;
}

#wait-screen {
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  z-index: 1000;
}
