.barcode {
  font-family: 'Libre Barcode 39 Text';
  background: red;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 4rem;
  transform-origin: bottom left;
  transform: translate(100%, -4rem) rotate(90deg);
}
.barcode p {
  margin: 0;
  padding: 0;
}

#PrintBase {
  position: relative;
  width: 700px;
  height: 170px;
}
